<div class="col-md-4">
  <p>ツイート検索</p>
    <%= form_tag(tweets_path, method: :get) do %>
      <%= text_field_tag :tweet_text, '', placeholder: "検索ワード" %>
      <%= number_field_tag :like_num, '', placeholder: "○○いいね数以上" %>
      <%= collection_select :category_id,'',current_user.categories,:id,:name, prompt: "カテゴリー選択" %>
      <%= check_box_tag :clip %>
      <%= label_tag "clipツイート" %>
      <%= submit_tag 'Search', name: nil %>
      <%= hidden_field_tag :search, true %>
  <% end %>
  <ul>
    <li><%= link_to "いいね多い順", tweets_path(params: {sort: 1}) %></li>
    <li><%= link_to "ユーザー一覧", post_users_path %></li>
    <li><%= link_to "新規カテゴリー作成",new_category_path %></li>
    <li><%= link_to "引用ツイート", tweets_path(params: {quote: 1})%></li>
  </ul>
</div>
