<% if user_signed_in? %>
  <div class="col-md-4">
    <%= render 'tweets/search_form' %>
  </div>
  <div class="col-md-8">
    <p>ツイート数</p>
    <%= @tweets.count %>
    <% @tweets.each do |tweet| %>
      <div class="well-sm well">
        <%= image_tag(tweet.postuser_profile_image, size: 50) %><br/>
        <%= tweet.user_id %> @<%= tweet.postuser_screen_name %><br/>
        <%= tweet.text %><br/>
        RT <%= tweet.retweet_count %> いいね <%= tweet.favorite_count %><br/>
        Posted <%= time_ago_in_words(tweet.post_created_at) %> ago.<br/>

        <% if tweet.tweet_images %>
          <% tweet.tweet_images.each do |image| %>
            <%= image_tag(image.tweetimage_url, size: 50) %>
          <% end %>
        <% end %>
        <br><%= link_to 'clip', clip_path(tweet), method: :patch %>
        <%= link_to 'カテゴリー追加', edit_tweet_path(tweet) %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Favdivider</h1>
    <h2>This app is organize your favorites.</h2>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
