<div class="row">
  <div id="tweets">
    <% @tweets.each do |tweet| %>
      <div class="tweet">
        <%= image_tag(tweet.post_user.profile_image, size: 50) %>
        <span class="user"><%= tweet.post_user.name %>
          <span class="screen-name">@<%= tweet.post_user.screen_name %></span></span>
        <span class="content">
          <p><%= text_url_to_link(h(tweet.text)).html_safe %></p>
          <% if tweet.tweet_videos.present? %>
          <%= link_to image_tag(tweet.tweet_videos.first.thumbnail, size: 50),
                      tweet.tweet_videos.first.tweet_video_url, data: {lity: "data-lity"} %>
          <% elsif (tweet.tweet_images.present?) %>
          <% tweet.tweet_images.each do |image| %>
            <%= link_to image_tag(image.tweet_image_url, size: 50),
                        image_tag(image.tweet_image_url), data: {lity: 'data-lity'} %>
          <% end %>
        <% end %>
        </span>
        <span class="status">
        <span class="posted-at">Posted <%= time_ago_in_words(tweet.post_created_at) %> ago.</span>
          <%= tweet.favorite_count %> likes
          <%= image_tag 'clip.png', class: 'toggle_status', size: 15,
                        data: {tweet_id: tweet.id, status: tweet.default?} %>
          <%= link_to edit_tweet_path(tweet), remote: true, class: 'btn-small btn-floating' do %>
            <i class="tiny material-icons">add</i>
          <% end %>
          <span id="tweet-<%= tweet.id %>-category">
            <% if tweet.categories %>
              <% tweet.categories.each do |category| %>
                #<%= category.name %>
              <% end %>
            <% end %>
          </span>
        </span>
      </div>
    <% end %>
    <div id="category-modal" class="modal"></div>
  </div>
  <%= paginate @tweets %>
</div>