<% if controller.controller_path == 'tweets' %>
  <ul class="tabs">
    <li class="tab col"><%= link_to "一覧", tweets_path, remote: true, class: 'waves-effect' %></li>
    <li class="tab col"><%= link_to "引用", tweets_path(params: {quote: 1}), remote: true, class: 'waves-effect' %></li>
    <li class="tab col"><%= link_to "動画", tweets_path(params: {video: 1}), remote: true, class: 'waves-effect' %></li>
    <li class="tab col"><%= link_to "画像", tweets_path(params: {image: 1}), remote: true, class: 'waves-effect' %></li>
    <li class="tab col"><%= link_to "いいね数", tweets_path(params: {sort: 1}), remote: true, class: 'waves-effect' %></li>
    <li class="tab col"><%= link_to "リプライ", tweets_path(params: {reply: 1}), remote: true, class: 'waves-effect' %></li>
    <li class="tab col"><%= link_to "クリップ", tweets_path(params: {clip: 1}), remote: true, class: 'waves-effect' %></li>
  </ul>
<% end %>

<div id="tweets">
  <%= render 'tweets/index' %>
</div>
<div id="category-modal" class="modal"></div>
