<div class="container">
  <div class="row">
    <div class="col-md-4">
      ツイート検索
      <%= form_tag(tweets_path, method: :get) do %>
        <%= text_field_tag :tweet_text, '', placeholder: "検索ワード" %>を含むツイート<br/>
        <%= number_field_tag :like_num, '', placeholder: "いいね数" %>いいね以上<br/>
        <%= submit_tag 'Search', name: nil %>
        <%= hidden_field_tag :search, true %>
      <% end %>
      <%= link_to("いいね多い順", tweets_path(params: {sort: 1})) %>
      <%= link_to("ユーザー一覧", tweets_post_users_path) %>

    </div>
    <div class="col-md-8">
      <%= @post_users.length %>
      <% @post_users.each do |post_user| %>
        <div class="well-sm well">
          <%= image_tag(post_user.postuser_profile_image, size: 50) %><br/>
          <%= post_user.postuser_name %> @<%= post_user.postuser_screen_name %><br/>
          <%= post_user.profile_description %>
          <%= link_to '',post_user_tweets_path(postuser_id: post_user.postuser_id),'aria-hidden': true %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    $('div.well').click(function() {
        location.href = $(this).find('a').attr('href');
    });
</script>