<nav class="teal lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Favdivider</a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "ログイン", user_twitter_omniauth_authorize_path %></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><%= link_to "ログイン", user_twitter_omniauth_authorize_path %></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Welcome to Favdivider</h1>
    <div class="row center">
      <h6 class="header col s12 light">ツイッターのいいねをわかりやすく管理、共有！</h6>
    </div>
    <div class="row center">
      <%= link_to "Twitter Login", user_twitter_omniauth_authorize_path, class: "btn-large waves-effect waves-light" %>
    </div>
    <br><br>
  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col m4 s12">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">list</i></h2>
          <h5 class="center">カテゴライズ</h5>

          <p class="light">カテゴリーをつけて情報を管理。大きな括り、小さな括り、自分が後で見返す時にわかりやすいようにして保存！</p>
        </div>
      </div>

      <div class="col m4 s12">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">share</i></h2>
          <h5 class="center">シェア</h5>

          <p class="light">"良い情報"だと思ったらカテゴライズして他の人にも共有してみましょう。様々なジャンルの良質な情報がここに
          集まればいいですね</p>
        </div>
      </div>

      <div class="col m4 s12">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">search</i></h2>
          <h5 class="center">検索も簡単</h5>

          <p class="light">カテゴリー別、ユーザー別、画像付ツイート、動画付ツイート、いいねの数..etc検索の方法は様々</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Favdivider</h5>
        <p class="grey-text text-lighten-4">© 2019 @_loquat_</p>
      </div>
      <div class="col l8 s12">
        <h5 class="white-text">Connect</h5>
        <i class="medium material-icons">mail</i>
        <%= image_tag 'Twitter_Logo.png',size: 60 %>
        <%= image_tag 'GitHub_Logo.png',size: 50 %>
      </div>
    </div>
  </div>
</footer>
