<div class="row">
    <%= search_form_for @q, url: post_users_path do |f| %>
      <%= f.text_field :search_words_cont, placeholder: 'ユーザー検索' %>
      <%= f.submit 'Search', class: 'btn' %>
    <% end %>
  <% @post_users.each do |post_user| %>
    <div class="tweet post_users">
      <%= image_tag(post_user.profile_image, size: 50) %>
      <p>@<%= post_user.screen_name %></p>
      <span>
        <%= post_user.profile_description %>
        <%= link_to '', post_user_path(post_user.id), 'aria-hidden': true %>
        </span>
    </div>
  <% end %>
</div>
