<%= form_for(@category) do |f| %>
  <%= f.label :"カテゴリー登録" %>
    <%= f.text_field :name, placeholder: "Category Name" %>
  <%= f.submit "Registrate" %>
<% end %>
<section>登録済みカテゴリー</section>
<% current_user.categories.each do |category| %>
  <p><%= category.name %></p>
<% end %>