<!DOCTYPE html>
<html>
<head>
  <title>Favdivider</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/lity/1.6.6/lity.css'/>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/lity/1.6.6/lity.js'></script>
</head>

<body>
<% if user_signed_in? %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/sidenav' %>
  <main class="container">
    <%= yield %>
  </main>
<% else %>
  <%= render 'layouts/home' %>
<% end %>
</body>
</html>
