<!DOCTYPE html>
<html>
<head>
  <title>Favdivider</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>
<%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</body>
</html>
