<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Favdivider</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'true' %>
  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'true' %>
</head>

<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/sidenav' %>
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
  <main>
    <div class="row">
      <%= yield %>
    </div>
  </main>
</body>
</html>
